*.csv
.DS_Store
*.log
*.pyc
2021-04_Study_A_Diffusion/data/01_raw/*.jsonl
2021-04_Study_A_Diffusion/data/01_raw/*.json
2021-04_Study_A_Diffusion/data/01_raw/*.txt
.Rproj.user
*.pdf
*.obj
*.npz
*.png
*.jsonl
*.json
*.css
*.RData
DPhil_Studies.code-workspace
.vscode/launch.json
.vscode/settings.json
*.jpg
twarc.log
*.hdf5
2021-04_Study_A_Diffusion/data/archive/user_sets_sanity_check.txt
2021-04_Study_A_Diffusion/data/02_intermediate/02_group/group_2_sampled_weight_False_users.txt
2021-04_Study_A_Diffusion/data/02_intermediate/0*_group/group_*_snowball_*.txt
*.jpeg
*.JPG
**/.ipynb_checkpoints/
**.pkl
**/logs/
group_*_sampled*
Research*.md
**.mp4
**.m4a
*.BMP
*.PNG
*.bmp
2021-04_Study_A_Diffusion/research_logs/*
2021-04_Study_A_Diffusion/data/01_raw/*
2021-04_Study_A_Diffusion/src/d04_modelling/python3.9.lprof
2021-04_Study_A_Diffusion/src/d04_modelling/abm.py.lprof
2021-04_Study_A_Diffusion/src/d04_modelling/abm_run.sh
static/Cairo-Black.ttf
static/Cairo-Bold.ttf
static/Cairo-ExtraBold.ttf
static/Cairo-ExtraLight.ttf
static/Cairo-Light.ttf
static/Cairo-Medium.ttf
static/Cairo-Regular.ttf
static/Cairo-SemiBold.ttf
2021-04_Study_A_Diffusion/results/03_group/abm_primary_ht_dist.txt
2021-04_Study_A_Diffusion/results/03_group/abm_example_results_df.txt
2021-04_Study_A_Diffusion/results/02_group/abm_example_results_df.txt
2021-04_Study_A_Diffusion/results/02_group/abm_primary_ht_dist.txt
2021-04_Study_A_Diffusion/results/01_group/abm_primary_ht_dist.txt
2021-04_Study_A_Diffusion/results/abm_total_primary_dist.txt
2021-04_Study_A_Diffusion/results/01_group/abm_example_results_df.txt
2021-04_Study_A_Diffusion/results/03_group/table_act_post_peak_forward.tex
2021-04_Study_A_Diffusion/src/d04_modelling/abm_history_eval.py.lprof
2021-04_Study_A_Diffusion/data/*
2022-10-Study_B/conda/*
/home/hubert/DPhil_Studies/2022-10-Study_B/LASER/*
/home/hubert/DPhil_Studies/2022-10-Study_B/JapaneseTokenizers/*
2022-10-Study_B/data/*
2022-12-Collection_for_Anne/
tmp/*
2022-10-Study_B/notebooks/dev_bertopic.ipynb
2022-10-Study_B/arc/
2022-10-Study_B/notebooks/
2022-10-Study_B/profile_annot.py.lprof
2022-10-Study_B/src/profile_annot.txt
2022-10-Study_B/src/profile_annot_no_convert_fn.txt
2022-10-Study_B/src/profile_annot_no_filter.txt
2022-10-Study_B/src/profile_annot_savebatch.txt
2021-04_Study_A_Diffusion/.RData
2021-12_Study_A_Writeup
DPhil_Studies.code-workspace
2022-10_Study_B/local_data
2021-04_Study_A_Diffusion/High-Dimensional-Inspector
2021-04_Study_A_Diffusion/Twitter_Data_Collection_Blurb.txt
2021-04_Study_A_Diffusion/bispectral_comm
2022-10_Study_B/post-covid
2022-10_Study_B/names/*
2023-08-Study_C/Data/*
2023-08-Study_C/6th KWCS_ENG/*
2023-08-Study_C/DPhil3.nvpx
2021-04_Study_A_Diffusion/research_logs/.obsidian/workspace
2021-12_Study_A_Writeup/*
2022-10_Study_B/First Meeting Guide_files/*
2021-04_Study_A_Diffusion/DPhil_Paragraph_Data_Collection_Twitter.docx
**/lib.bib
**/Keplinger_et_al_data/
**/.RData/
2023-08-Study_C/local_nogit/*
2023-08-Study_C/local/*
.vscode/
2022-10_Study_B_Local/
2022-10-Study_B/src/newsanalysis/data_utils/constants.py