*.csv
.DS_Store
*.log
*.pyc
2021-04_Study_A_Diffusion/collection_results_2021_05_04_16_22/data/*.json
2021-04_Study_A_Diffusion/collection_results_2021_05_04_16_22/data/*.jsonl
.Rproj.user
*.pdf
*.obj
*.npz
*.png
*.jsonl
2021-04_Study_A_Diffusion/user_twarc_timelines.py
2021-04_Study_A_Diffusion/data/FAS_2017-10-16_2017-11-16.jsonl
*.css
2021-04_Study_A_Diffusion/DPhil_Paragraph_Data_Collection_Twitter.docx
*.RData
2021-04_Study_A_Diffusion/.RData
2021-12_Study_A_Writeup/*
DPhil_Studies.code-workspace
2022-10_Study_B/local_data/*
2021-04_Study_A_Diffusion/High-Dimensional-Inspector/*
2021-04_Study_A_Diffusion/Twitter_Data_Collection_Blurb.txt
2021-04_Study_A_Diffusion/bispectral_comm/*
2022-10_Study_B/post-covid/*
2022-10_Study_B/names/*
2023-08-Study_C/Data/*
2023-08-Study_C/6th KWCS_ENG/*
2023-08-Study_C/DPhil3.nvpx
2021-04_Study_A_Diffusion/research_logs/.obsidian/workspace
